@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #f1f3e0;
}

.container {
  padding: 50px 200px;
}

.btn {
  cursor: pointer;
  border: none;
  padding: 10px 14px;
  border-radius: 8px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 4px;
}
